*.exe
*.o
*.gcno
*.gcda
*.gcov
.DS_Store
*.nogit
.vscode
*.bin
*.tmp
*.d
*.flag
*.so
*.a
__pycache__
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.bkp
*.json
out
.cache
*/code/*.pdf
*/code/pdfs/*.pdf
*/code/*.dot
